blockquote {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: gray;
    background-color: #F2F3F4;
    padding-left: 2em;
    padding-right: 2em;
}

.note {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: small;
}